{% extends 'base.html.twig' %}

{% block title %}Users Shown{% endblock %}

{% block body %}
<table class="border" width="100%" align="center">
   <thead>
   <tr>
       <th>Email</th>
   </tr>
   </thead>
   <tbody>
   {% for user in users %}
       <tr>
           <td>{{ user.email }}</td>
       </tr>
   {% endfor %}
   </tbody>
</table>
{% endblock %}